body {
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.mein {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 25px 20px;
  margin: 10px;
  border-radius: 10px;
}
.calculator-1 {
  margin-bottom: 10px;
}
.calculator-1 input {
  text-align: right;
  background-color: #fff;
  padding: 5px;
  font-size: 35px;
  height: 60px;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  outline: none;
}
.calculator-2 {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.calculator-2 button {
  text-align: center;
  margin: 2px;
  text-align: center;
  font-size: 32px;
  width: 70px;
  height: 70px;
  background: #403b4a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e7e9bb,
    #403b4a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e7e9bb,
    #403b4a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
@media (max-width: 390px) {
  .calculator-2 button {
    width: 65px;
    height: 65px;
    font-size: 30px;
  }
  .calculator-1 input {
    width: 280px;
  }
}
@media (max-width: 300px) {
  .calculator-2 button {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  .calculator-1 input {
    width: 220px;
    height: 50px;
  }
  .calculator {
    padding: 20px 10px;
  }
}
.history {
  background-color: black;
  color: #fff;
  height: 80vh;
  width: 350px;
  position: fixed;
  left: 456px;
  top: -100%;
  border-radius: 10px;
  transition: 0.5s;
}
.historys {
  padding: 10px 25px;
}
.historys h1 {
  text-align: center;
}
.ps {
  height: 60vh;
  overflow-y: scroll;
}
.ps p {
  font-size: 30px;
}
.active .history {
  top: calc(100% - 620px);
}
.icon {
  position: relative;
  left: 150px;
  bottom: 10px;
}
